<!-- prehome page -->
<span style="overflow: visible;">
  <div id="prehomepage">
    <div class='row'>
      <div class='col-md-2 col-12 zi-10 hide-on-mobile'>
        <%= render partial: "layouts/partials/blog_widget", locals: { blog_posts: @blog_posts } %>
      </div>
      <!-- bootstrap carousel -->
      <div class='col-md-10 col-12'>
        <div id="main-banner" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "buenaventura-banner.png" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "buenaventura-banner.png" %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#main-banner" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#main-banner" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class='col-md-2 col-12 zi-10 hide-on-desktop'>
        <%= render partial: "layouts/partials/blog_widget", locals: { blog_posts: @blog_posts } %>
      </div>
    </div>
    <!-- cómo logramos el cambio -->
    <div class="row">
      <div class="spacer-big"></div>
      <div class="subcontainer">
        <div class="how">
          <h3>¿CÓMO LOGRAMOS EL CAMBIO?</h3>
        </div>
        <div class="spacer-small"></div>
        <p class='p-how'>
          La plataforma SeamOS es un canal entre la ciudadanía y los políticos en ejercicio para generar
          un diálogo con ellos y hacer valer la representación democrática que les otorgamos con nuestro voto.
        </p>
      </div>
    </div>
    <div class="subcontainer">
      <div class="row">
        <div class="info col-12 col-md-3">
          <div class="head">
            <div class="icon explore">
            </div>
            <h3 class="title">Explora</h3>
          </div>
          <div class="description">
            Las propuestas publicadas según los ejes temáticos de tu interés
          </div>
        </div>
        <div class="info col-12 col-md-3">
          <div class="head">
            <div class="icon registry">
            </div>
            <h3 class="title">Regístrate</h3>
          </div>
          <div class="description">
            En la plataforma para que puedas votar e incidir en la toma de decisiones
          </div>
        </div>
        <div class="info col-12 col-md-3">
          <div class="head">
            <div class="icon participate">
            </div>
            <h3 class="title">Participa</h3>
          </div>
          <div class="description">
            Informate y vota las propuestas de los concejales que se sumaron a nuestra plataforma
          </div>
        </div>
        <div class="info col-12 col-md-3">
          <div class="head">
            <div class="icon name">
            </div>
            <h3 class="title">Representa</h3>
          </div>
          <div class="description">
            Tu participación ciudadana puede hacer que consigas reconocimientos
          </div>
        </div>
      </div>
    </div>

    <!-- tu votas tu decides -->
    <div id='tvtd'  class="row precontainer">
      <h1 class="title">TÚ VOTAS, TÚ DECIDES</h1>
      <p class="subtitle">Temas que le interesan a la comunidad</p>
      <div class="tags-cards-container subcontainer">
        <%= render partial: "layouts/partials/tags_widget", locals: {tags: @tags} %>
      </div>
    </div>

    <hr>

    <!-- forum -->
    <% if @discussions.any? %>
      <div class="row forum-row">
        <h3>FORO SEAMOS</h3>
        <div class="spacer-mid"></div>
        <div class="discussions-cards-container subcontainer">
          <%= render partial: "layouts/partials/forum_widget", locals: {discussions: @discussions} %>
          <%= render partial: "simple_discussion/forum_threads/forum_thread", locals: {forum_thread: @discussions.first} %>
        </div>
      </div>
    <% end %>

    <!-- bancada -->

    <div class="dots">
    </div>
    <div class="row" id='mid-section'>
      <div class="subcontainer row">
        <div class="left col-md-4">
          <%= image_tag  "bancada-illustration.png" %>
        </div>
        <div class="right col-md-8">
          <span class="b-caption">
            <h3> ¿Qué es la bancada de la comunidad </h3>
            <p>
              La Bancada de la Comunidad está constituida por un grupo de concejales que decidieron adoptar prácticas de
              innovación política y uso de tecnología, para tener una relación democrática más dinámica, cercana y horizontal
               con la ciudadanía. Al firmar un manifiesto con el cual se comprometen a suscribir sus propuestas en
               la plataforma, y actuar conforme a lo manifestado por los ciudadanos, Seamos podrá activar conversaciones
               ciudadanas y fortalecer la democracia, bajo tres objetivos:
            </p>
            <p>
              <strong>1.</strong> Que los políticos y políticas tengan un canal de comunicación con sus comunidades. <br>
              <strong>2.</strong> Que la ciudadanía participe activamente y de forma informada en decisiones. <br>
              <strong>3.</strong> Que las agendas más relevantes de la ciudadanía sean discutidas por el Concejo Distrital. <br>
            </p>
          </span>
        </div>
      </div>
    </div>
    </section>

    <!-- politicians -->

    <hr>
    <% if @politicians.any? %>
      <div id='politicians' class="subcontainer">
        <section class="row">
          <div class="col-12">
            <h3>CONCEJALES</h3>
          </div>
          <%= render partial: "layouts/partials/politicians", locals: {politicians: @politicians} %>
        </section>
      </div>
    <% end %>

    <hr>

    <div class="subcontainer">
      <div class="row who">
        <div class="spacer-mid"></div>
        <div class='title'>
          <h3>¿QUIÉNES SOMOS?</h3>
        </div>
        <div class="spacer-small"></div>
        <p>
          SeamOS Democracia Digital es una plataforma ciudadana que busca promover el involucramiento de la
          ciudadanía en instancias de poder, a través de herramientas digitales y análogas de creación
          colectiva de procesos de incidencia política. La organización está integrada por un equipo
          multidisciplinario, reunido con el interés de llevar creatividad e innovación al poder.
          <br>
          <br>
          <strong>
            Nuestra misión es involucrar a la ciudadanía en procesos de decisión política para que hagan
            valer su voto en los espacios democráticos.
          </strong>
        </p>
        <div class="spacer-mid"></div>

        <div class="btn-container">
          <a class="gray-fading-btn">
            Nuestro equipo
          </a>
        </div>
      </div>
    </div>

    <!-- newsletter -->
    <%= render partial: "layouts/partials/newsletter" %>
  </div>
</span>