<div id="dashboard" class="row">
  <div>
    <div class="col-sm-12 my-buttons-container">
      <center>
        <div>
          <%= link_to 'lista de usuarios', admin_validate_users_path %>
        </div>
        <div>
          <%= link_to 'Crear admin / político', new_admin_path %>
        </div>
        <div>
          <%= link_to 'Temas', new_admin_tag_path %>
        </div>
        <div>
          <%= link_to "Datos", admin_dashboard_stats_path %>
        </div>
        <div>
          <%= link_to t('.polls'),admin_polls_path %>
        </div>
      </center>
    </div>
  </div>
</div>
