<div id='stats' class="container">
  <div class="cards">
    <div class="card-wrapper">
      <%= render partial: "card", locals: {stat: @citizens.size, comment: "ciudadanos registrados a través de facebook"} %>
    </div>
    <div class="card-wrapper">
      <%= render partial: "card", locals: {stat: @votant_users, comment: "ciudadanos se registraron y votaron"} %>
    </div>
    <div class="card-wrapper">
      <%= render partial: "card", locals: {stat: @non_votant_users, comment: "ciudadanos se registraron y votaron"} %>
    </div>
    <div class="card-wrapper">
      <%= render partial: "card", locals: {stat: "#{@vote_average}", comment: "Es el promedio de votos por usuario"} %>
    </div>
    <div class="card-wrapper">
      <%= render partial: "card", locals: {stat: "#{@polls.size}", comment: "Propuestas creadas hasta la fecha"} %>
    </div>
    <div class="card-wrapper">
      <%= render partial: "card", locals: {stat: "#{@open_polls.size}", comment: "Propuestas abiertas actualmente"} %>
    </div>
    <div class="card-wrapper">
      <%= render partial: "card", locals: {stat: "#{@closed_polls.size}", comment: "Propestas cerradas actualmente"} %>
    </div>
    <div class="card-wrapper">
      <%= render partial: "card", locals: {stat: "#{@global_vote_count}", comment: "Cantidad de votos global"} %>
    </div>
  </div>
  <%= render partial: "poll_stats", locals: {polls: @polls} %>

</div>
