
<%= tinymce_assets %>
<%= tinymce plugins: ["wordcount", "paste", "image"] %>
<%= form_for :message do |f| %>
  <div class='field'>
    <%= f.label "Asunto"%><br>
    <%= f.text_field :subject, required: 'true' %>
  </div>

  <div class='field'>
    <%= f.text_area :content %>
  </div>

  <%= f.hidden_field :user_name, value: 'celia cruz' %>

  <%= f.submit %>
  <%= link_to "previsualizar", '/', id: 'message-preview' %>
<% end %>
