<%= link_to poll_path(poll), class: 'poll-link' do %>
  <div id="global-container">
    <div id="other-poll-component">
      <div class="left-side col-12 col-md-4 no-padding">
        <div class="poll-image-container">
          <%= image_tag poll.poll_image %>
        </div>
        <% if poll.closed? %>
          <div class="closed-ribbon"></div>
        <% end %>
      </div>
      <div class="right-side col-12 col-md-8">
        <div class='poll-main-info'>
          <span class="poll-title">
            <%= poll.title %>
          </span>
          <div class="poll-summary">
            <p>
              <%= poll.summary %>
            </p>
          </div>
          <div class="diffuse"></div>
        </div>
        <div class="poll-infos-container">
          <div class="poll-details">
            <div class="poll-tag-name">
              <div class='extra-info'>
                <span> <%= poll.vote_count %> votos</span>
                <span class="color-separator" style="border-left: 2px solid gray"> &nbsp</span>
                <span> Quedan <%= distance_of_time_in_words(Date.today, Date.today + poll.remaining_time_in_seconds.seconds) %> </span>
              </div>
            </div>
            <div class="btn button">
              Leer
              <i class="fa fa-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if current_user && current_page?(user_path(current_user)) && (!defined?(from_ymal) || defined?(from_ymal) && !from_ymal) %>
      <div class="poll-my-vote">
        <span class="poll-vote-title">Mi voto: </span>
        <span style="font-family: HKNovaRegular;">
          &nbsp; <%= poll.votes.by_user_id(current_user.id).first.name %>
        </span>
      </div>
    <% end %>
  </div>
<% end %>