<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seamos</title>
    <%= csrf_meta_tags %>
    <meta property="og:site_name" content="SeamOS Democracia Digital "/>
    <meta property="og:title" content="<%= @poll.title%>"/>
    <meta property="og:url" content="https://seamos.co/facebookob/?id=<%= params[:id] %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="<%= @poll.description%>"/>
    <meta property="og:image" content="<%= @poll.poll_image%>"/>
    <!-- <meta property="og:image:width" content="298"/> -->
    <!-- <meta property="og:image:height" content="295"/> -->
    <meta property="og:site_name" content="seamos.co"/>
    <meta property="fb:app_id" content="1707774202581080"/>
    <meta itemprop="name" content="Nuestro Proyecto"/>
    <meta itemprop="url" content="https://seamos.co/"/>
    <meta itemprop="description" content="SeamOS es una plataforma ciudadana y tecnológica que busca utilizar las
    TICs para actualizar la democracia"/>
    <meta itemprop="thumbnailUrl" content="<%= @poll.poll_image%>"/>
    <link rel="image_src" href="<%= @poll.poll_image%>" />
    <meta itemprop="image" content="<%= @poll.poll_image%>"/>
    <meta name="twitter:title" content="Nuestro Proyecto"/>
    <meta name="twitter:image" content="<%= @poll.poll_image%>"/>
    <meta name="twitter:url" content="https://seamos.co/"/>
    <meta name="twitter:site" content="@seamos"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="<%= @poll.description%>"/>
    <meta name="description" content="<%= @poll.description%>" />
    <%= favicon_link_tag 'favicon.png' %>

  </head>

  <body>
    <script>
      $(document).ready(function() { window.location.assign("<%= '/#/poll/' + params[:id].to_s %>") })
    </script>
  </body>
</html>
