<% localities = user.major_electoral_representation_localities %>
<%= tinymce_assets %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- multistep form -->
<div id="new_admin_form">
  <%= form_for user, url: admin_user_path, :html => {:id => "msform"} do |f| %>
  <%= render 'shared/mensajes_de_error',  object: f.object %>
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Datos Generales</li>
    <li class="politician-field">Datos usuario politico</li>
    <li class="politician-field">Datos adicionales usuario politico</li>
    <li class="politician-field">Datos académicos usuario politico</li>
    <li>Guardar Informacion</li>
  </ul>
  <!-- fieldsets -->
  <fieldset class="first-step">
    <h2 class="fs-title">Datos Generales</h2>

    <% unless current_user.politico? %>
      <div class="radio_button_field">
        <%= f.label "Tipo de rol" %><br/><br>
        <%= f.radio_button :role_type, "administrador" %>
        <%= f.label :role_type, "Administrador"%><br>
        <%= f.radio_button :role_type, "politico", checked: "#{@user && @user.role_type == 'politico' ? 'checked' : false}" %>
        <%= f.label :role_type, "Politico",class: "radio_button_lbl"  %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Nombres" %>
      <%= f.text_field :names, class: 'form-control' %>
    </div>

    <input type="button" name="next" class="next action-button" value="Siguiente" />
  </fieldset>

  <fieldset class="politician-field">
    <h2 class="fs-title">informacion perfil político</h2>

    <div class="field politician-field">
      <%= f.label "Foto" %>
      <%= f.file_field :admin_photo %>
    </div>

    <div class="field politician-field">
      <%= f.label "Usuario de twitter" %>
      <%= f.text_field :twitter_username, class: 'form-control', placeholder: 'ej: @my_twitter_username' %>
    </div>

    <div class="field politician-field">
      <%= f.label "Fecha de nacimiento" %>
      <input type="text" value="<%= user.birthday %>" data-provide='datepicker' data-date-language="es" data-date-autoclose="true" data-date-format="yyyy/mm/dd" class="input-sm form-control" name="user[birthday]"/>
    </div>

    <div class="field politician-field">
      <%= f.label "Lugar de nacimiento" %>
      <span class="optional"> (opcional) </span>
      <%= f.text_field :birthplace, class: 'form-control' %>
    </div>

    <div class="field politician-field">
      <%= f.label "Biografía" %>
      <%= f.text_area :bio, class: 'form-control tinymce' %>
    </div>

    <div class="field politician-field">
      <%= f.label "Organización" %>
      <%= f.text_field :organization, class: 'form-control' %>
    </div>

    <input type="button" name="previous" class="previous action-button" value="Atrás" />
    <input type="button" name="next" class="next action-button" value="Siguiente" />
  </fieldset>

  <fieldset class="politician-field">
    <h2 class="fs-title">informacion perfil político</h2>
    <h2 class="fs-subtitle">informacion adicional</h2>

    <div class="field politician-field">
      <%= f.label "Número de votos última elección " %>
      <span class="optional"> (opcional) </span>
      <%= f.number_field :last_election_vote_count, class: 'form-control' %>
    </div>

    <div class="field politician-field">
      <%= f.label "Localidades de mayor representación electoral" %>
      <span class="optional"> (máximo dos) </span>
      <%= f.select(
        :major_electoral_representation_localities,
        options_for_select(User.localities, localities.present? ? localities.split(', ') : ''), 
        {}, 
        {multiple: true, "data-live-search": "true", class: "selectpicker form-control", "data-size": 10}) 
      %>
    </div>

    <div class="field politician-field">
      <%= f.label "Otros períodos electo" %>
      <span class="optional"> (en esta u otras corporaciones) </span>
      <span class="optional"> (opcional) </span>
      <%= f.text_field :other_periods_elected, class: 'form-control' %>
    </div>

    <div class="field politician-field">
      <%= f.label "Comisión actual en la corporación" %>
      <span class="optional"> (opcional) </span>
      <%= f.select :current_corporation_commission, User.current_corporation_commissions.keys, {}, {class: 'form-control'} %>
    </div>

    <input type="button" name="previous" class="previous action-button" value="Atrás" />
    <input type="button" name="next" class="next action-button" value="Siguiente" />
  </fieldset>

  <fieldset class="politician-field">
    <h2 class="fs-title">Informacion académica</h2>
    <%= f.fields_for :academic_titles do |academic_title_form| %>
      <span class="optional"> (opcionales) </span>
      <div>
          <%= academic_title_form.label "Título académico" %>
          <%= academic_title_form.text_field :title %>
      </div>
      <div>
          <%= academic_title_form.label "Periodo" %>
          <%= academic_title_form.text_field :period %>
      </div>
      <div>
          <%= academic_title_form.label "Institución" %>
          <%= academic_title_form.text_field :institute %>
      </div>
    <% end %>
    <input type="button" name="previous" class="previous action-button" value="Atrás" />
    <input type="button" name="next" class="next action-button" value="Siguiente" />
  </fieldset>

  <fieldset class="final-step">
    <input type="button" name="previous" class="previous action-button" value="Atrás" />
    <span class="actions">
        <%= f.submit( 'Guardar', data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary action-button") %>
    </span>
  </fieldset>
  <%end%>
</div>
<%= tinymce %>
