<table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Fecha de creación</th>
        <th>Fecha de cierre &nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Sí</th>
        <th>No</th>
        <th>Total Votos</th>
      </tr>
    </thead>
    <tbody>
      <% polls.each do |poll| %>
        <% grouped_by_vote_type = poll.votes.joins(:vote_type)
                                  .group('vote_types.name')
                                  .count('vote_types.id') %>
        <% y_percentage = poll.vote_count > 0 ? '(' + (100 * (grouped_by_vote_type['SI'].to_f / poll.vote_count)).round(0).to_s + '%)' : '' %>
        <% n_percentage = poll.vote_count > 0 ? '(' + (100 * (grouped_by_vote_type['NO'].to_f / poll.vote_count)).round(0).to_s + '%)' : '' %>
        <tr>
          <td><%= poll.id %></td>
          <td><%= poll.title %></td>
          <td><%= poll.user.full_name %></td>
          <td><%= poll.created_at.to_date %></td>
          <td><%= poll.closing_date %></td>
          <td style="border-left: 1px solid gainsboro; white-space: nowrap"><%= "#{grouped_by_vote_type['SI']} #{y_percentage}" %></td>
          <td style="border-left: 1px solid gainsboro; white-space: nowrap"><%= "#{grouped_by_vote_type["NO"]} #{n_percentage}" %></td>
          <td style="border-left: 1px solid gainsboro;"><%= poll.vote_count %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
