<%= tinymce_assets %>
<%= form_for([:admin, poll], html: { multipart: true } ) do |f| %>
<%= render 'shared/mensajes_de_error',  object: f.object %>

<div class="radio_button_field">
    <%= f.label "Tipo de propuesta" %><br/>
  <div class="radio-buttons">
    <%= f.radio_button :poll_type, "Voto o proyecto de acuerdo" %>
    <%= f.label :poll_type, "Voto o proyecto de acuerdo"%><br/>
    <%= f.radio_button :poll_type, "Control político", checked: "#{poll && poll.poll_type == 'Control político' ? 'checked' : false}" %>
    <%= f.label :role_type, "Control político",class: "radio_button_lbl"  %>
  </div>
</div>

<br />
<% unless current_user.politico? %>
  <% if f.object.poll_type == "Control político" %>
    <div class="field politician-field politic-control">
      <%= f.label "Estado de la Propuesta" %>
      <%= f.select(:state) do %>
        <% [['Votación seamos', "Votación seamos"], ['Radica concejal', "Radica concejal"], ['Primer debate', "Primer debate"], ['Debate de control político', "Segundo debate"], ['Moción de censura', 'Sanción del proyecto de acuerdo']].each do |c| %>
          <%= content_tag(:option, c.first, value: c.last, selected: f.object.state == c.last ? 'selected' : false) %>
        <% end %>
      <% end %>
    </div>
    <div class="field politician-field vote-or-agreement hidden">
      <%= f.label "Estado de la Propuesta" %>
      <%= f.select :state, Poll.states.keys, {}, {class: 'form-control', id: 'vote-agreement-select'} %>
    </div>
  <% else %>
    <div class="field politician-field politic-control hidden">
      <%= f.label "Estado de la Propuesta" %>
      <%= f.select(:state) do %>
        <% [['Votación seamos', "Votación seamos"], ['Radica concejal', "Radica concejal"], ['Primer debate', "Primer debate"], ['Debate de control político', "Segundo debate"], ['Moción de censura', 'Sanción del proyecto de acuerdo']].each do |c| %>
          <%= content_tag(:option, c.first, value: c.last, selected: f.object.state == c.last ? 'selected' : false) %>
        <% end %>
      <% end %>
    </div>
    <div class="field politician-field vote-or-agreement">
      <%= f.label "Estado de la Propuesta" %>
      <%= f.select :state, Poll.states.keys, {}, {class: 'form-control', id: 'vote-agreement-select'} %>
    </div>
  <%end%>
<%end%>

<div class="field">
    <%= f.label "Título (140 caractéres máximo)" %>
    <%= f.text_field :title, class: 'form-control', maxlength: 140 %>
</div>

<div class="field">
  <%= f.label "sumario" %>
  <%= f.text_area :summary, class: 'form-control' %>
</div>


<div class="field description">
    <%= f.label :description %>
    <%= f.text_area :description, id: 'poll-description',class: 'form-control tinymce', maxlength: 3000 %>
    <label id='counter-label' class='char-left'>3000</label>
</div>

<%= f.label "Enlace Del Proyecto (opcional)" %>

<div>
 <%= f.text_field :project_link, id: 'project_link', class: "form-control",  placeholder: "Enlace del Proyecto", value: poll.project_link ? poll.project_link.url : ''%>
</div>

<%= f.label "Enlaces Externos (opcionales)" %>
<div>
 <input id="link-1" type="text" class="form-control extlink" placeholder="Enlace externo 1" value="<%= (poll.related_links[0].present? ? poll.related_links[0].url : '') %>" >
</div>

<div>
 <input id="link-2" type="text" class="form-control extlink" placeholder="Enlace externo 2" value="<%= (poll.related_links[1].present? ? poll.related_links[1].url : '') %>" >
</div>

<div>
 <input id="link-3" type="text" class="form-control extlink" placeholder="Enlace externo 3" value="<%= (poll.related_links[2].present? ? poll.related_links[2].url : '') %>" >
</div>

<div class="field" style="display: none">
  <% if @used_links %>
    <%= f.text_field :links, id: 'links-field', value: @used_links%>
  <% else %>
    <%= f.text_field :links, id: 'links-field'%>
  <% end %>
</div>

<div class="field" style="display: none">
    <% if @used_tags %>
      <%= f.text_field :tags, id: 'tags-field', value: @used_tags%>
    <% else %>
      <%= f.text_field :tags, id: 'tags-field'%>
    <% end %>
</div>

<div class="field">
  <%= f.label :objective %>
  <%= f.text_field :objective, class: 'form-control' %>
</div>

<div class="field">
    <%= f.label :closing_date %>
    <input type="text" value="<%= poll.closing_date %>" data-provide='datepicker' data-date-language="es" data-date-autoclose="true" data-date-format="yyyy/mm/dd" class="input-sm form-control" name="poll[closing_date]"/>
</div>

<div class="field">
    <%= f.label "Hora de cierre" %>
    <%= f.time_field :closing_hour, class: 'form-control', value: poll.closing_hour %>
</div>

<div class="field">
    <%= f.label "Imagen principal" %>
    <% if poll.poll_image.file %>
    <p class="has_media">
        <%= t('.has_image', filename: poll.poll_image.file.filename) %>
    </p>
    <% end %>
    <%= f.file_field :poll_image %>
    <%= f.hidden_field :poll_image_cache %>
</div>

<div class="tags-picker">
    <%= f.label "seleccion de temas" %><br>
    <div class="alert alert-info alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Selecciona los temas que mejor se adecúen a tu propuesta
    </div>
    <% @location_from = 'new_poll' %>
    <%= render 'admin/tags/tag_list', tags: Tag.all%>
</div>
<div>
  <%= f.hidden_field :user_id, value: current_user.id %>
</div>

<div class="actions">
    <%= f.submit(data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary", id: "submit-poll", style: "margin-bottom: 150px;") %>
</div>

<% end %>
<script type="text/javascript">
    function addOption() {
        var optionsContainer = $("#vote_types_attributes");
        var childrenCount = optionsContainer.children().length;
        // #ToDo add DELETE option && error takes previous values
        var myHTML = `<input type='text' placeholder='<%= t('.new_option')%>' name='poll[vote_types_attributes][${childrenCount}][name]' id='poll_vote_types_attributes_${childrenCount}_name'>`;

        optionsContainer.append(myHTML);
    }
</script>
<%= tinymce %>
