<div class="row">
  <div class="col-md-12 admin-poll">
    <div class="row">
      <div class="col-md-12 center">
        <h4>
          <strong >
            <%= link_to admin_poll_path(poll.id), style: "color: #393939;" do %>
               <%= poll.title%>
            <%end%>
          </strong>
        </h4>
      </div>
      <div id="poll-status" class="col-md-12">
        <% if !poll.closed?%>
        <i class="material-icons mdl-list__item-avatar active">done</i>
          <span><%= "Propuesta abierta" %></span>
        <% else %>
          <i class="material-icons mdl-list__item-avatar inactive">clear</i>
          <span><%= "Propuesta cerrada" %></span>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3" >
        <%= link_to admin_poll_path(poll.id) do %>
          <img src="<%= poll.poll_image %>"  style='width: 100%; ' alt="">
        <%end%>
      </div>
      <div class="col-md-9">
        <p style="max-height: 75px; overflow: hidden">
          <%= poll.description.first(500).html_safe %>
        </p>
        <ul class="list-inline list-unstyled">
          <%poll.tags.each do |tag| %>
          <li class="label label-default tag"><%=tag.name%></li>
          <%end%>
        </ul>
        <ul class="list-inline list-unstyled">
          <% if is_admin? || current_user.politico?%>
            <li> <%= link_to t('.edit_poll'), edit_admin_poll_path(poll.id), class: "btn btn-default" %></li>
            <li>|</li>
            <li> <%= link_to t('.delete_poll'), admin_poll_path(poll.id), class: "btn btn-danger", method: :delete, data: {confirm: t(".confirmation")}  %></li>
          <% end %>
          <br>
          <li>
            <span>
              fecha de cierre 
              <%= poll.closing_date %>
            </span>
          </li>
          <li>
            <span>
              fecha de creación
              <%= poll.created_at.to_date %>
            </span>
          </li>
          <li>
            <span>
              última actualización
              <%= poll.updated_at.to_date %>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
