<% content_for :mail_content do %>
  <h2>
    Hola <%= @user.first_name %>,
  </h2>

  <p>
    Tu participación incide en la decisiones del Concejo.
    <br><br>
    Hace unos días respondiste a la pregunta <strong> <%= link_to @poll.title, poll_url(@poll) %> </strong>, de acuerdo al resultado de la votación El/La Concejal <strong> <%= @poll.author_names %> </strong> presentó un proyecto de acuerdo, el cual ha sido agendado para primer debate.
    <br><br>
    Te invitamos a hacerle seguimiento al desarrollo de esta propuesta en el Concejo en <strong> <%= link_to 'SeamOS.co', poll_url(@poll) %> </strong> y en nuestras redes [Link FB, Twitter, Instagram].
    <br><br>
    La política está en tus manos, SeamOS Democracia Digital.
    <br><br>
    <h3>
    Otras propuestas que te pueden interesar:
    </h3>
    <%= render partial: 'layouts/partials/you_may_also_like', locals: { mailing: true} %>
  </p>
<% end %>

<%= render partial: '/devise/mailer/partials/simple.html.erb', locals: { user: @recipient } %>