<% content_for :mail_content do %>
  <h2>
    Hola <%= @user.first_name %>,
  </h2>

  <p>
    Tu participación incidió en la decisiones del Concejo.
    <br><br>
    Gracias a tu participación, y de acuerdo al resultado de la votación, El/La Concejal <strong> <%= @poll.author_names %> </strong> radicó un proyecto de acuerdo.
    Te invitamos a hacerle seguimiento al desarrollo de <strong> <%= link_to 'esta propuesta', poll_url(@poll) %> </strong>, en caso de ser agendado el debate en el Concejo, puedes hacerlo en <strong> <%= link_to 'seamos.co', poll_url(@poll) %> </strong> y en nuestras redes [Link FB, Twitter, Instagram].
    <br><br>
    La política está en tus manos, SeamOS Democracia Digital.
    <br><br>
    <h3>
    Otras propuestas que te pueden interesar:
    </h3>
    <%= render partial: 'layouts/partials/you_may_also_like', locals: { mailing: true} %>
  </p>
<% end %>

<%= render partial: '/devise/mailer/partials/simple.html.erb', locals: { user: @recipient } %>