<%= form_for(user) do |f| %>
  <%= render 'shared/mensajes_de_error',  object: f.object %>

  <div class="field">
    <%= f.label :first_surname %>
    <%= f.text_field :first_surname, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :second_surname %>
    <%= f.text_field :second_surname, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :names %>
    <%= f.text_field :names, class: 'form-control' %>
  </div>


  <% if user.role_type == 'administrador' %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  <% end %>
  <br><br>

  <div class="actions">
    <%= f.submit(data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary") %>
  </div>
  <br><br>
<% end %>
