<p id="notice"><%= notice %></p>

<div class="container" id="users-list" >
	<div class="row">
    <div class="col-md-3 admin-search-form">
      <%= label_tag :Filtros %>
      <%= form_tag({controller: "users", action: "index"}, method: "get") do %>
        <%= select_tag(:users_filter_select, options_for_select( User.role_types.keys,
                                                                 params[:users_filter_select] ),
                                                                 {class: "form-control",
                                                                  include_blank: true
                                                                 }) %>
        <%= text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: "Búsqueda por email o nombre" %>
        <%= submit_tag 'Filtrar', class: 'form-control btn-info' %>
      <% end %>
    </div>
    <div class="span12 col-md-9">
      <% if @users.present? %>
    		<ul class="thumbnails" style="list-style-type: none;">
            <% @users.each do |user| %>
                <li class="span5 clearfix">
                  <div class="thumbnail clearfix">
										<a class="profile pull-left span2 clearfix" href="#thumb">
											<span>
											</span>
										</a>
                    <div class="caption" class="pull-left">
                      <div class="pull-right">
                        <div>
                          <% unless user.role_type == 'ciudadano' %>
                            <%= link_to "Editar datos de usuario" , edit_admin_path(user), class:"btn btn-info icon" %>
                          <% end %>
                        </div>
                        <br>
                        <div>
                          <%= link_to t(".destroy_user"), user_path(user), class: "btn btn-danger", method: :delete, data: {confirm: t(".confirmation")} %>
                        </div>
                      </div>
                      <h4>
                      <a href="#" >
                        <%= user.names %>
                        <%= user.first_surname %>
                        <%= user.second_surname %>
                      </a>
                      </h4>
                      <p><small><b><%= User.human_attribute_name("email") %>: </b><%= user.email %></small></p>
                      <p><small><b>ID de Facebook: </b><%= user.uid %></small></p>
                      <p><small><b>tipo de usuario: </b><%= user.role_type %></small></p>
                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
        <%else%>
          <h2>No hay resultados</h2>
        <%end%>
        <h2> <%= paginate @users %> </h2>
    </div>
	</div>
</div>

<script>
function filterUser (event) {
   $(this).parent().trigger('submit');
};
</script>

<!-- # link_to 'Validar', edit_user_path(user) -->
