<%= link_to admin_validate_users_path, class: 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button' do %>
  <i class="material-icons">navigate_before</i>
<% end %>

<h1><%= t('.validate_user') %> <%= User.model_name.human %></h1>

<table class="table">
  <tr>
    <th> <%= User.human_attribute_name("nombres") %> </th>
    <th> <%= User.human_attribute_name("tipo_de_documento_id") %> </th>
    <th> <%= User.human_attribute_name("numero_documento") %> </th>
    <th> ID de Facebook </th>
    <th> <%= User.human_attribute_name("email") %> </th>
    <th> <%= User.human_attribute_name("fecha_expedicion") %> </th>
    <th colspan="2"></th>
  </tr>
  <tr>
    <td>
      <%= @usuario.nombres %>
      <%= @usuario.first_surname %>
      <%= @usuario.segundo_apellido %>
    </td>
    <td> <%= @usuario.tipo_de_documento.code_view %> </td>
    <td> <%= @usuario.numero_documento %> </td>
    <td> <%= @usuario.uid %> </td>
    <td> <%= @usuario.email %> </td>
    <td> <%= @usuario.fecha_expedicion %> </td>
    <td> <%= link_to t(".validate_user"), usuario_path(@usuario), class: "btn btn-info", method: :put %> </td>
    <td> <%= link_to t(".destroy_user"), usuario_path(@usuario), class: "btn btn-danger", method: :delete, data: {confirm: t(".confirmation")} %> </td>
  </tr>
</table>

<img src="<%= get_photo_url(@usuario) %>"   style='width: 100%;'/>
