<div id="homepage">
  <div class="background-container top"></div>
  <div class="mid-container">
    <div class="left-col">
      <div class="title">
        <h1>Temas de Interés</h1>
      </div>
      <section id="tags-component">
        <div class="flex-container tags-box">
          <% @tags.each do |tag| %>
            <a href="/tag/<%= tag.id %>/polls">
              <div 
                id="tag-component" 
                style="
                  background-image: url(<%= tag.thumbnail %>); 
                  background-color: <%= tag.tag_color %>;">
                <div class="undefined">
                  <span class="glyphicon glyphicon-ok-sign"></span>
                </div>
                <div class="tag-name"><%= tag.name %></div>
              </div>
            </a>
          <% end %>
        </div>
      </section>
    </div>
    <div class="right-col">
      <div id="poll-page">
        <div class="order-select-wrapper">
          <span class="order-string"> Ordenar 
          </span>
          <select name="" class="order-select">
            <option value="most-voted-first"> Propuestas más votadas 
            </option>
            <option value="newest-first"> Propuestas recientes 
            </option>
            <option value="nearest-closing-date-first"> Propuestas cercanas al cierre 
            </option>
            <option value="by-user-interests"> Propuestas según tus intereses 
            </option>
          </select>
          <div id="summary-wrapper">
            <span class="polls-summary-text"> Resumen de propuestas 
            </span>
            <a class="summary-btn-wrapper" href="#/summary">
              <span class="polls-summary-btn"> Ver + 
              </span>
            </a>
          </div>
        </div>
        <div class="polls-wrapper">
          <% @polls.each do |poll| %>
            <div>
              <a href="/client/polls/<%= poll.id %>" style="text-decoration: none;">
                <div id="poll-component">
                  <div class="poll-image-container">
                    <img alt="poll" src="<%= poll.poll_image %>">
                  </div>
                  <% if poll.closed? %>
                    <div class="closed-ribbon">Propuesta Cerrada</div>
                  <% end %>
                  <div class="poll-title">
                    <span><%= poll.title %>
                    </span>
                  </div>
                  <div class="poll-description"><%= poll.summary %> 
                  </div>
                  <div class="politician-info">
                    <div class="picture-container">
                      <img src="https://document-photos-seamos.s3.amazonaws.com/uploads/user/admin_photo/9/Sin_ti_tulo-5-08.png" alt="politician">
                    </div>
                    <div class="name-container"><%= poll.user.full_name %>
                    </div>
                  </div>
                  <div class="poll-infos-container">
                    <div class="poll-details">                      
                        <div 
                          class="poll-tag-name" 
                          style= "width: <%= poll.closed? ? "52%;" : "70%;" %>" >
                          <%= display_tag_name(poll) %>
                        </div>
                        <div class="color-separator" style="border-left: 5px solid <%= display_tag_color(poll) %>;">
                        </div>
                        <div class="btn button btn-plus-read" style="background-color: <%= display_tag_color(poll) %>;">
                          <%= poll.closed? ? "RESULTADOS" : "VOTA" %>
                        </div>                      
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>