<%= form_for [poll, debate] do |f| %>
    <%= render 'shared/mensajes_de_error',  object: f.object %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit(data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary") %>
    </div>

<% end %>

<script type="text/javascript">
  function addOption (){
    var optionsContainer = $("#vote_types_attributes");
    var childrenCount = optionsContainer.children().length;
    // #ToDo add DELETE option && error takes previous values
    var myHTML = `<input type='text' placeholder='<%= t('.new_option')%>' name='poll[vote_types_attributes][${childrenCount}][name]' id='poll_vote_types_attributes_${childrenCount}_name'>`;

    optionsContainer.append(myHTML);
  }
</script>
