<%= form_for [poll, debate] do |f| %>
    <%= render 'shared/mensajes_de_error',  object: f.object %>

    <div class="field">
      <%= f.label t('.add_questions') %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <%= f.hidden_field(:id) %>
    <%= f.hidden_field(:poll_id) %>
    <input type="hidden" value="<%= current_user.uid %>" name="debate[usuario_uid]" id="debate_usuario_uid">

    <label><%= t('.questions_options')%></label>

    <button type="button" id="button_questions_attributes" class="btn btn-default">agregar</button>
    <br>
    <br>
    <div id="questions_attributes">
    </div>

    <br>
    <div class="actions">
      <%= f.submit(t(:create),data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary") %>
    </div>

<% end %>

<script type="text/javascript">
  function deleteQuestion(self){
    self.parentElement.parentElement.remove();
    $('#button_questions_attributes').prop("disabled",false);
  }
  function addOptionQuestion (questionValue){
    questionValue = `${questionValue}`;
    questionValue = questionValue == 'undefined' || questionValue == '[object Object]' ? '' : questionValue;
    var optionsContainer = $("#questions_attributes");
    var childrenCount = optionsContainer.children().length;
    var myInput = `<input
                    value='${questionValue}'
                    type='text'
                    class="form-control"
                    placeholder='<%= t('.new_option')%>'
                    name='debate[questions_attributes][${childrenCount}][description]'
                    id='debate_questions_attributes_${childrenCount}_description'
                  >`;
    var myHTML = `
      <div class="input-group" style="margin-bottom: 15px" >
        ${myInput}
        <span class="input-group-btn">
          <button
            onclick="deleteQuestion(this)"
            class="btn btn-danger"
            type="button"
          >
            <%= t('.delete_option')%>
          </button>
        </span>
      </div>
    `;
    if (childrenCount > 3) {
      alert("Solo se permiten maximo hasta 4 preguntas");
      $('#button_questions_attributes').prop("disabled",true);
    } else if (childrenCount < 2) {
      myHTML = myInput;
      optionsContainer.append(myHTML);
    } else {
      optionsContainer.append(myHTML);
    }
  }
  var questionsLength = <%= @debate.questions.size %>;
  if(questionsLength > 0){
    <% @debate.questions.each do |question| %>
      addOptionQuestion('<%= question.description %>');
    <% end %>
    if(questionsLength < 2){
      addOptionQuestion();
    }
  }else{
    addOptionQuestion(); addOptionQuestion();
  }
</script>
