<div id='diplomat' class="container">
  <div class="row">
    <div id="main-banner-wrapper">
      <div id="main-banner">
        <%= image_tag('inn-main-banner.png') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div id='left-text-col' class="col-md-6">
       <strong> Inicio: </strong> 10 de Septiembre de 2018. <br><br>
       <strong> Cierre de Inscripciones: </strong> 8 de Septiembre de 2018. <br><br>
       <strong> Duración: </strong> 3 meses. <br><br>
       <strong> Modalidad: </strong> Virtual / Encuentros presenciales en Bogotá y Bucaramanga. <br><br>
       <strong> Requisitos previos: </strong> Estar comprometido con el cambio de tu comunidad.
       No requiere título universitario. <br><br>
       <strong> Dedicación: </strong> 4-6 horas semanales. <br><br>
       <strong> Método de graduación: </strong> Participación activa en todos <br><br>
       los módulos y presentación proyecto final.
       <strong> Dirigido a: </strong> <br><br>
        Líderes sociales, políticos y activistas con vocación de transformación.
       <strong> Consultas a: </strong> <br><br>
        sebastian.guanumen26@gmail.com, contacto@seamos.co
       <strong> Costo: </strong> $ 890.000 COP incluye IVA <br><br>
       <strong> Certifica: </strong> <br><br>
       <%= image_tag  'inn-arizona.png', id: 'arizona' %>
    </div>
    <div id="right-text-col" class="col-md-6">
      <p>
        Necesitamos actualizar nuestras democracias. Las mismas fueron pensadas en el siglo XVIII,
        y se implementaron con ideas y tecnologías del siglo XIX y XX. Este programa se propone formar
        líderes con los debates, conceptos y herramientas disponibles en el siglo XXI. El perfil es la
        formación en el sujeto político pensando en su entorno y comunidad, con un enfoque colectivo,
        crítico, creativo e innovador. Basado en experiencias y prácticas exitosas de expertos del más
        alto nivel en América Latina, este diplomado busca brindar conocimientos y herramientas para
        entender las actuales transformaciones políticas y sociales, el rol de las tecnologías digitales,
        las nuevas maneras de participación en democracia y la posibilidad de modelos productivos sostenibles
        e inclusivos.
      </p>
        <strong> Qué desarrollarás? </strong><br>
        <ul>
          <li>
            Capacidades para entender y analizar las claves que caracterizan las actuales transformaciones sociales y éticas ciudadanas.
          </li>
          <li>
            Comprensión sobre las nuevas formas de plantear la gestión pública, gobierno abierto, tecnologías cívicas.
          </li>
          <li>
            Conocimientos y reflexiones sobre modelos económicos inclusivos, cooperativos y sustentables.
          </li>
          <li>
            Uso de herramientas de alto impacto social.
          </li>
          <li>
            Aplicación de los contenidos teóricos a la práctica.
          </li>
          <li>
            Elaboración de un proyecto de incidencia en el ámbito local.
          </li>
          <li>
            Ser parte de una comunidad regional de alto impacto.
          </li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div id="structure-title">
      ESTRUCTURA DEL CURSO
    </div>
  </div>
  <div class="row">
    <div class='classroom mid-banner' class="col-md-12">
      <span class='subtitle'> ESTRUCTURA Y CONTENIDOS: </span>
      <span> VIRTUALES </span>
    </div>
    <div class='online mid-banner' class="col-md-12">
      <span class='subtitle'> ESTRUCTURA Y CONTENIDOS: </span>
      <span> PRESENCIALES </span>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div id='partner-logos-container'>
      <%= image_tag  'inn-academy.png', class: 'partner-logo' %>
      <%= image_tag  'inn-asuntos.png', class: 'partner-logo' %>
      <%= image_tag  'inn-seamos.png', class: 'partner-logo' %>
    </div>
  </div>
</div>