<div id='maping' class="container">
  <div class="row">
    <div id="main-banner-wrapper">
      <div id="main-banner">
        <%= image_tag('maping-banner.png') %>
      </div>
    </div>
  </div>
  <div class="spacer-mid"></div>
  <div class="row">
    <div id='' class="justified">
      <p>
        Mapeo de Infraestructuras cívicas: organizaciones formales sociales, grupos cívicos organizados y movimientos
        sociales que desarrollan prácticas de innovación política, comparten historia, identidad colectiva y se relacionan
        socialmente en espacios comunes. Estos elementos son especialmente importantes para la acción colectiva que requiere
        un propósito común, solidaridad y habilidades para afectar el cambio social.
      </p>
    </div>
  </div>
  <div class="spacer-mid"></div>
  <div id='image-buttons-container' class="row">
    <span class="image-button col-md-6 one">
      <%= image_tag 'maping-1.png' %>
      <div class="text-container">
        <div class="title">
          Resumen
        </div>
        <br>
        <p>
          A partir de las entrevistas en profundidad y los grupos focales realizado a 100 personas en 5 ciudades del país
          (Bogotá, Medellín, Cali, Barranquilla y Santa Marta), la identificación de tendencias en términos de estructuras
          organizativas, prácticas de innovación política, emociones políticas, y tipos de liderazgo individual, se identifican
          oportunidades para garantizar que el ecosistema de innovación política de Colombia se fortalezca y pueda tener
          mayor incidencia política, especialmente en términos electorales.
        </p>
        <p>
          En 2019 Colombia tendrán lugar elecciones locales. Los y las colombianas elegirán Diputados (as), Concejales (as),
          Alcaldes (as) y Gobernadores (as). Algunas infraestructuras tienen líderes y lideresas que tienen interés en aspirar
          a estos cargos o en trabajar para campañas políticas electorales. Se evidencia una oportunidad de fortalecer las
          infraestructuras, de replicar prácticas, de poner en movimiento el conocimiento, y de construir redes de apoyo desde
          agendas comunes e intereses comunes.
        </p>
        <br>
        <br class= "hide-on-mobile">
        <br class= "hide-on-mobile">
        <p id='doc-button-wrapper' class="centered">
          <a id='doc-button' href= "https://s3.amazonaws.com/misc-assets-seamos/maping-pdfs/RESUMEN+FINAL+CH.pdf" target="_blank">
            VER DOCUMENTO
          </a>
        </p>
      </div>
    </span>
    <span class="image-button col-md-6 two">
      <%= image_tag 'maping-3.png' %>
      <div class="text-container">
        <div class="title">
          Linea de tiempo
        </div>
        <br>
        <p>
          Esta es la historia de cómo se co-construyo el mapeo, los hitos de este proceso y los logros que tuvimos durante el 2018.
        </p>
        <br>
        <p id='doc-button-wrapper' class="centered">
          <a id='doc-button'  href= "https://s3.amazonaws.com/misc-assets-seamos/maping-pdfs/linea+de+tiempo+CH.pdf" target="blank">
            VER DOCUMENTO
          </a>
        </p>
      </div>
    </span>
    <span class="image-button col-md-6 three">
      <%= image_tag 'maping-1.png' %>
      <div class="text-container">
        <div class="title">
          Presentación del mapeo
        </div>
        <br>
        <p>
          En esta sección encontrarás los principales hallazgos del Mapeo de Infraestructuras Cívicas. Entérate de cómo se toman
          decisiones, se resuelven conflictos, de las prácticas de innovación política que se están implementando desde las
          organizaciones.
        </p>
        <br>
        <p id='doc-button-wrapper' class="centered">
          <a id='doc-button' href= "https://s3.amazonaws.com/misc-assets-seamos/maping-pdfs/presentacion+mapeo+CH.pdf" target="blank">
            VER DOCUMENTO
          </a>
        </p>
      </div>
    </span>
    <span class="image-button col-md-6 four">
      <%= image_tag 'maping-3.png' %>
      <div class="text-container">
        <div class="title">
          Metodologías
        </div>
        <br>
        <p>
          En esta sección encontrarás tres tipos de metodologías que te permitirán realizar un diagnóstico sobre la situación
          de tu organización en tres aspectos: estructura organizativa, prácticas de innovación política y liderazgo individuales.
          En esta sección encontrarás 2 propuestas metodológicos para la realización de grupos focales, y la descripción y
          metodología para aplicar el tarot político en tu territorio o proceso.
        </p>
        <br>
        <p id='doc-button-wrapper' class="centered">
          <a id='doc-button' href= "https://s3.amazonaws.com/misc-assets-seamos/maping-pdfs/metodologia+CH.pdf" target="blank">
            VER DOCUMENTO
          </a>
        </p>
      </div>
    </span>
  </div>

  <div class="spacer-mid hide-on-mobile"></div>
  <div class="row">
    <div id="doc-button-wrapper">
      <a id='doc-button' href="https://s3.amazonaws.com/misc-assets-seamos/maping-pdfs/caja_de_herramientas.pdf" target="_blank">
        DESCARGAR CAJA DE HERRAMIENTAS
      </a>
    </div>
  </div>
  <div class="spacer-big hide-on-mobile"></div>
</div>