<%= tinymce_assets %>
<%= form_for(poll, html: { multipart: true } ) do |f| %>
<%= render 'shared/mensajes_de_error',  object: f.object %>

<div class="field politician-field">
  <%= f.label "Estado de la Propuesta" %>
  <%= f.select :state, Poll.states.keys, {}, {class: 'form-control'} %>
</div>

<div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="field">
  <%= f.label "sumario" %>
  <%= f.text_area :summary, class: 'form-control' %>
</div>


<div class="field description">
    <%= f.label :description %>
    <%= f.text_area :description, id: 'poll-description',class: 'form-control tinymce', maxlength: 3000 %>
    <label id='counter-label' class='char-left'>3000</label>
</div>

<div class="field">
    <%= f.label "pregunta" %>
    <%= f.text_field :question, class: 'form-control' %>
</div>

<%= f.label "Enlaces Externos (opcionales)" %>
<div>
 <input id="link-1" type="text" class="form-control extlink" placeholder="Enlace externo 1" value="<%= (poll.external_links[0].present? ? poll.external_links[0].url : '') %>" >
</div>

<div>
 <input id="link-2" type="text" class="form-control extlink" placeholder="Enlace externo 2" value="<%= (poll.external_links[1].present? ? poll.external_links[1].url : '') %>" >
</div>

<div>
 <input id="link-3" type="text" class="form-control extlink" placeholder="Enlace externo 3" value="<%= (poll.external_links[2].present? ? poll.external_links[2].url : '') %>" >
</div>

<div class="field" style="display: none">
  <% if @used_links %>
    <%= f.text_field :links, id: 'links-field', value: @used_links%>
  <% else %>
    <%= f.text_field :links, id: 'links-field'%>
  <% end %>
</div>

<div class="field" style="display: none">
    <% if @used_tags %>
      <%= f.text_field :tags, id: 'tags-field', value: @used_tags%>
    <% else %>
      <%= f.text_field :tags, id: 'tags-field'%>
    <% end %>
</div>

<div class="field">
  <%= f.label :objective %>
  <%= f.text_field :objective, class: 'form-control' %>
</div>

<div class="field">
    <%= f.label :closing_date %>
    <input type="text" value="<%= poll.closing_date %>" data-provide='datepicker' data-date-language="es" data-date-autoclose="true" data-date-format="yyyy/mm/dd" class="input-sm form-control" name="poll[closing_date]"/>
</div>

<div class="field">
    <%= f.label t('.poll_image') %>
    <% if poll.poll_image.file %>
    <p class="has_media">
        <%= t('.has_image', filename: poll.poll_image.file.filename) %>
    </p>
    <% end %>
    <%= f.file_field :poll_image %>
    <%= f.hidden_field :poll_image_cache %>
</div>

<div class="tags-picker">
    <%= f.label t('.tags_picker') %><br>
    <div class="alert alert-info alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Selecciona el tema que mejor se adecúe a tu propuesta
    </div>
    <% @location_from = 'new_poll' %>
    <%= render '/tags/tag_list', tags: Tag.all%>
</div>

<div class="actions">
    <%= f.submit(data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary", id: "submit-poll", style: "margin-bottom: 150px;") %>
</div>

<% end %>
<script type="text/javascript">
    function addOption() {
        var optionsContainer = $("#vote_types_attributes");
        var childrenCount = optionsContainer.children().length;
        // #ToDo add DELETE option && error takes previous values
        var myHTML = `<input type='text' placeholder='<%= t('.new_option')%>' name='poll[vote_types_attributes][${childrenCount}][name]' id='poll_vote_types_attributes_${childrenCount}_name'>`;

        optionsContainer.append(myHTML);
    }
</script>
<%= tinymce %>
