<%= form_for(poll) do |f| %>
    <%= render 'shared/mensajes_de_error',  object: f.object %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :closing_date %>
      <input type="text" data-provide='datepicker' data-date-language="es"
                 data-date-format="yyyy/mm/dd" class="input-sm form-control" name="poll[closing_date]" />
    </div>

    <%= f.label t('.secret_public') %>
    <div class=" field radio">
      <%= f.radio_button :private, true %>
      <%= f.label t('.secret')  %>
    </div>

    <div class="radio">
      <%= f.radio_button :private, false %>
      <%= f.label t('.public')  %>
    </div>

    <div class="actions">
      <%= f.submit(data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary") %>
    </div>
<% end %>
