<%= form_for(poll, html: { multipart: true } ) do |f| %>
    <%= render 'shared/mensajes_de_error',  object: f.object %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :closing_date %>
      <input
        type="text"
        value="<%= poll.closing_date %>"
        data-provide='datepicker' data-date-language="es"
        data-date-autoclose="true" data-date-format="yyyy/mm/dd"
        class="input-sm form-control" name="poll[closing_date]"

      />
    </div>

    <div class="field">
     <%= f.label t('.poll_image') %>
     <% if poll.poll_image.file %>
      <p id="has_image">
        <%= t('.has_image', filename: poll.poll_image.file.filename) %>
      </p>
     <% end %>
     <%= f.file_field :poll_image %>
     <%= f.hidden_field :poll_image_cache %>
   </div>

     <%= f.label t('.secret_public') %>
    <div class="radio">
       <%= f.radio_button :private, "false", checked: true %>
       <%= f.label t('.public')  %>
    </div>

    <div class=" field radio">
       <%= f.radio_button :private, "true", checked: false %>
       <%= f.label t('.private')  %>
    </div>

    <div id='csv-field' class="field" style='display: none'>
       <%= f.label t('.csv_field') %>
       <p>El formato será los correos electronicos separados por coma ej: </p>
       <p><small>correo_a@correo.com<strong>,</strong>correo_b@correo.com<strong>,</strong>correo_c@correo.com</small></p>
       <%= f.file_field :poll_csv, accept: 'text/csv'%>
    </div>


    <div class="actions">
      <%= f.submit(data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary") %>
    </div>

<% end %>

<script type="text/javascript">
  function addOption (){
    var optionsContainer = $("#vote_types_attributes");
    var childrenCount = optionsContainer.children().length;
    // #ToDo add DELETE option && error takes previous values
    var myHTML = `<input type='text' placeholder='<%= t('.new_option')%>' name='poll[vote_types_attributes][${childrenCount}][name]' id='poll_vote_types_attributes_${childrenCount}_name'>`;

    optionsContainer.append(myHTML);
  }
</script>
