<div class="panel panel-default transition-panel" id="<%=poll.id%>">
  <!-- Default panel contents -->
  <div class="panel-heading" >
    <% if poll.closed? %>
        <h2>
          <%= link_to poll_path(poll), class: "" do %>
            <%= poll.title %>
            <span class="span-results glyphicon glyphicon-new-window" aria-hidden="true"></span>
          <%end%>
        </h2>
    <% else %>
      <%= poll.title %>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
        <strong><%= poll.usuario.full_name%></strong>
      </div>
      <div class="list-group-item">
        <%= poll.description %>
      </div>
      <div class="list-group-item  ">
        <div class="row">
          <div class="col-xs-6">
            <label>La votación cierra el: </label>
            <%= poll.closing_date %>
          </div>

          <div class="col-xs-6">
            <%= t (".#{poll.private.to_s}")%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% unless current_user.already_voted?(poll) %>
    <% unless poll.closed? %>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <%= form_for :vote, url: yes_path, html: { class: "form-sender  btn btn-success no-padding"} do |f|%>
          <%= f.hidden_field :fb_feed, value: false  %>
          <%= f.hidden_field :poll_id, value: poll.id %>
          <%= f.submit t('.yes'),  class: "button-sender btn btn-success"%>
        <% end %>
        <%= form_for :vote, url: blank_path, html: { class:"form-sender btn btn-default no-padding"}  do |f| %>
          <%= f.hidden_field :fb_feed, value: false  %>
          <%= f.hidden_field :poll_id, value: poll.id %>
          <%= f.submit t('.blank'), class: "button-sender btn btn-default" %>
        <% end %>
        <%= form_for :vote, url: no_path, html: { class: "form-sender btn btn-danger no-padding"}  do |f| %>
          <%= f.hidden_field :fb_feed, value: false  %>
          <%= f.hidden_field :poll_id, value: poll.id %>
          <%= f.submit t('.no') ,class: "button-sender btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
      <div class="row" role="group" aria-label="...">
        <div class="col-xs-push-1 col-xs-11">
          <p> <%= t '.greatings' %> </p>
        </div>
      </div>
  <% end %>


</div>
