<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= poll.title %></div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
        <strong><%= poll.usuario.full_name%></strong>
      </div>
      <div class="list-group-item">
        <%= poll.description %>
      </div>
      <div class="list-group-item  ">
        <div class="row">
          <div class="col-xs-6">
            <label>La votación cierra el: </label>
            <%= poll.closing_date %>
          </div>

          <div class="col-xs-6">
            <%= t (".#{poll.private.to_s}")%>
          </div>
        </div>
      </div>
    </div>

  </div>




</div>



