<div class="row">
  <div class="col-md-12 admin-poll">
    <div class="row">
      <div class="col-md-12 center">
        <h4>
          <strong >
            <%= link_to poll_path(poll.id), style: "color: #393939;" do %>
               <%= poll.title%>
            <%end%>
          </strong>
        </h4>
      </div>
      <div id="poll-status" class="col-md-12">
        <% if poll.active && !poll.closed?%>
        <i class="material-icons mdl-list__item-avatar active">done</i>
          <span><%= t('.active_poll') %></span>
        <% else %>
          <i class="material-icons mdl-list__item-avatar inactive">clear</i>
          <span><%= t('.inactive_poll') %></span>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3" >
        <%= link_to poll_path(poll.id) do %>
          <img src="<%= poll.poll_image %>"  style='width: 100%; ' alt="">
        <%end%>
      </div>
      <div class="col-md-9">
        <p style="max-height: 75px; overflow: hidden">
          <%= poll.description %>
        </p>
        <ul class="list-inline list-unstyled">
          <%poll.tags.each do |tag| %>
          <li class="label label-default tag"><%=tag.name%></li>
          <%end%>
        </ul>
        <ul class="list-inline list-unstyled">
          <li><span><i class="icon-calendar"></i> <%= poll.closing_date %></span></li>
          <% if is_admin? || current_user.politico?%>
              <li>|</li>
              <span> <%= link_to t('.edit_poll'), edit_poll_path(poll.id), class: "btn btn-default" %></span>
            <% unless poll.closed? %>
              <li>|</li>
              <%toggle_status_button_text = poll.active ? "deactivate" : "activate" %>
              <span> <%= link_to t(".#{toggle_status_button_text}"), toggle_poll_status_path(poll.id), class: "btn btn-default", method: :patch %></span>
            <%end%>
            <li>|</li>
            <span> <%= link_to t('.delete_poll'), poll, class: "btn btn-danger", method: :delete, data: {confirm: t(".confirmation")}  %></span>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
