<div class="panel panel-default transition-panel noborder" id="<%=poll.id%>">
  <!-- Default panel contents -->
  <!-- <div class="panel-heading" > -->
     <!-- #if poll.closed?  -->
        <!-- <h2> -->
          <!-- = #link_to poll_path(poll), class: "" do  -->
            <!-- = #poll.title  -->
            <!-- <span class="span-results glyphicon glyphicon-new-window" aria-hidden="true"></span> -->
          <!-- #end -->
        <!-- </h2> -->
     <!-- #else  -->
      <!-- = #poll.title  -->
     <!-- #end  -->
  <!-- </div> -->

  <strong><%= poll.usuario.full_name%></strong>
  <p>
    <label class="date">Cierre: <%= poll.closing_date %> </label>
  </p>

  <p class="description"><%= poll.description %></p>

   <!-- t (".#{poll.private.to_s}")%> -->
  <div class="panel-footer">
    <h3>Tu Voto</h3>
    <% unless current_user.already_voted?(poll) %>
      <% unless poll.closed? %>
        <div class="votes">
          <%= render partial: 'votes/vote_type', locals:
          {vote_type_id:  poll.vote_types.last.id,  label_text: t('.no'),
            align_class: "horizontal left", icon: "cancel"}%>

          <%= render partial: 'votes/vote_type', locals:
          {vote_type_id:  poll.vote_types.first.id,  label_text: t('.yes'),
            align_class: "horizontal right", icon: "check"}%>

        </div>
      <% end %>
    <% end %>
  </div>

<script>
function normalEvent(event){
  return true
}
function formConfig (event) {
        event.preventDefault();
        var myBtn = $(this);
        var myForm = $(this).parent();
        swal({
            title: "<%= t '.fb_publish.title' %>",
            text: "<%= t '.fb_publish.text' %>",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "<%= t '.fb_publish.yes_button'%>",
            cancelButtonText: "<%= t '.fb_publish.no_button'%>",
            closeOnConfirm: false
        }, function(isConfirm){
            if (isConfirm) {
                myForm.children("#vote_fb_feed").val("true")
                swal("<%= t '.greatings' %>", "<%= t '.fb_publish.share_message'%>", "success");
            }
            myForm.trigger('submit');
        });
};

</script>

</div>
