<%= link_to admin_dashboard_index_path, class: 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button' do %>
<i class="material-icons">navigate_before</i>
<% end %>

<div id="polls-index" class='container'>
  <br><br>
  <div>
    <%=form_tag({controller: "polls", action: "index_admin"}, method: "get", class: "")%>
    <%= select_tag(:status, options_for_select({'Todas': "all", 'Activas': "active", 'Inactivas': "inactive"}, params[:status] ), {class: "form-control", :onchange => "this.form.submit();"}) %>
  </div>
  <h2>
      <%= paginate @polls %>
  </h2>
  <% if @polls.length > 0 %>
      <%= render @polls%>
  <% else %>
      <div>
          <%= t '.no_polls_available' %>
      </div>
  <% end %>
</div>
