<% yes_styles = "width: #{vote_percentage(vote_count(@poll)["SI"], @poll.vote_count)}%; #{"background-color: gainsboro;" if @poll.closed?}" %>
<% no_styles = "width: #{vote_percentage(vote_count(@poll)["NO"], @poll.vote_count)}%;#{"background-color: gainsboro;" if @poll.closed?}" %>
<%= render partial: 'layouts/modals/sign_in_modal' %>
<% if current_user && current_user.administrador? && params[:publish_link].present?%>
  <%= render partial: 'layouts/modals/publish_poll_modal' %>
<% end %>
<div id="poll-detail-global-wrapper">
  <% if current_user && current_user.administrador? %>
    <%= render partial: 'polls/partials/unactive_poll_banner', locals: {poll: @poll} %>
  <% end %>
  <section id="poll-detail">
    <div class="top-color-bar" style="background-color: <%= @tag.tag_color %>">
        <div class="tag-name">
          <%= @tag.name %>
        </div>
    </div>
    <div class="container">
        <section id="politician" class="row">
          <%= link_to politician_profile_path(@author.id) do %>
            <img src="<%= @author.resolve_admin_photo%>" role="presentation" alt="politician">
            <div id="politician-info">
              <%= @author.full_name %>
              <div id="org">
                <%= @author.organization %>
              </div>
            </div>
          <% end %>
        </section>
        <div class="share-wrapper">
          <%= social_share_button_tag(@poll.title, desc: @poll.title, :allow_sites => %w(facebook)) %>
          <%= social_share_button_tag(@poll.title, desc: @poll.title.first(50), via: "SeamOS", :allow_sites => %w(twitter)) %>
          <span class="share-this hide-on-mobile"> COMPARTIR: </span>
          <div id= 'fb-btn' role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--facebook network__share-button"><a class="fa fa-facebook" rel="noopener noreferrer" style="display: block;"></a><br></div>
          <div id= 'tw-btn' role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--twitter network__share-button"><a class="fa fa-twitter" rel="noopener noreferrer" style="display: block;"></a><br></div>
        </div>
        <header class="row">
          <p class="col-sm-12 poll-title">
            <%= @poll.title %>
          </p>
        </header>
        <div class='extra-info'>
          <span> Abierta el <%= l(@poll.created_at, format: '%d de %b del %Y')  %></span>
          <% if @poll.closed? %>
            <span> / Cerrada el <%= l(@poll.closing_date, format: '%d de %b del %Y')  %> </span>
            <div class='spacer-small'></div>
          <% end %>
        </div>
        <section id="poll" class="row">
          <div id="left-col" class="col-sm-4">
              <div id="poll-image-container">
                <img id="poll-thumbnail" src="<%= @poll.poll_image %>" role="presentation" alt="poll thumbnail">
              </div>
              <% if @poll.closed? %>
                <div class="closed-ribbon-wrapper">
                  <div class="closed-ribbon" style="display: flex;">Propuesta Cerrada</div>
                </div>
              <% end %>
              <p id="objective" class="row" style="display: none;">
                <strong> Objetivo: </strong>
                <%= @poll.objective %>
              </p>
              <div id="poll-states">
                <img src="<%= @status_image %>" class="state">
              </div>
              <% if @poll.project_link.present? %>
                <h5 class="external-links-title"> Enlace Proyecto Concejal </h5>
                <div class="external-links-container">
                  <div class="external-link">
                    <a href="<%= @poll.project_link.url %>" target="_blank" rel="noopener noreferrer">
                      <%= @poll.project_link.url.first(40) %>
                    </a>
                  </div>
                </div>
              <% end %>
              <% if @poll.external_links.where(is_project_link: false).present? %>
                <h5 class="external-links-title"> Enlaces Relacionados </h5>
                <div class="external-links-container">
                  <% @poll.external_links.each do |link| %>
                    <% next if link.is_project_link %>
                    <div class="external-link">
                      <a href="<%= link.url %>" target="_blank" rel="noopener noreferrer">
                        <%= link.url.first(40) %>
                      </a>
                    </div>
                  <% end %>
                </div>
              <% end %>
          </div>
          <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                      <% if current_user && @poll.voted_by_user?(current_user.id) || @poll.closed? %>
                        <div class="col-xs-12 col-sm-6 buttons-wrapper">
                          <div class="progress btn voted-button">
                            <div
                              class="progress-bar"
                              role="progressbar"
                              aria-valuenow="70"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              style= "<%= yes_styles %>">
                              <span id="vote-name">SI</span>
                              <span id="percentage">
                                <%= vote_percentage(vote_count(@poll)["SI"], @poll.vote_count) %> %
                              </span>
                            </div>
                          </div>
                          <div class="progress btn voted-button">
                            <div
                              class="progress-bar"
                              role="progressbar"
                              aria-valuenow="70"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              style= "<%= no_styles %>">
                              <span id="vote-name">NO</span>
                              <span id="percentage">
                                <%= vote_percentage(vote_count(@poll)["NO"], @poll.vote_count) %> %
                              </span>
                            </div>
                          </div>
                        </div>
                      <% elsif current_user %>
                        <div class="col-xs-12 col-sm-6 buttons-wrapper">
                          <%= button_to "SI", {:controller => "votes", action: "create", vote: 'SI', poll_id: @poll.id}, {class: "btn single-button non-voted-button"} %>
                          <%= button_to "NO", {:controller => "votes", action: "create", vote: 'NO', poll_id: @poll.id}, {class: "btn single-button non-voted-button"} %>
                        </div>
                      <% else %>
                        <div class="col-xs-12 col-sm-6 buttons-wrapper">
                          <button class="btn single-button non-voted-button" data-toggle="modal" data-target="#sign-in-modal">
                            SI
                          </button>
                          <button class="btn single-button non-voted-button" data-toggle="modal" data-target="#sign-in-modal">
                            NO
                          </button>
                        </div>
                      <% end %>
                      <div class="col-xs-12 col-sm-12 poll-details">
                        <span>
                          <% if @poll.closed? %>
                            propuesta cerrada
                          <% else %>
                            Quedan <%= distance_of_time_in_words(Date.today, Date.today + @poll.remaining_time_in_seconds.seconds) %>
                          <% end %>
                        </span>
                      </div>
                    </div>
                    <div class="summary">
                      <%= @poll.summary %>
                    </div>
                </div>
                <div class="poll-description-container col-sm-12">
                    <div class="poll-static-title"> La Propuesta: </div>
                    <div class="poll-description" style="max-height: 9999px;">
                      <%= @poll.description.html_safe %>
                    </div>
                </div>
              </div>
          </div>
        </section>
    </div>
  </section>
  <%= render partial: 'layouts/partials/you_may_also_like' %>
  <div class='spacer-big'> </div>
  <div class='spacer-big'> </div>
</div>

<script type="text/javascript">
  $(window).on('load',function(){
      $('#publish-poll-modal').modal('show');
  });
</script>