<!-- resultado de votación -->
<div class="row">
  <div class="col-md-4">
    <%= link_to admin_polls_path, class: 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button' do %>
      <i class="material-icons">navigate_before</i>
    <% end %>

  </div>
  <div class="col-md-4">
    <h1><%= t '.poll_results' %></h1>
  </div>
  <div class="col-md-4">
    <%= form_tag poll_path(@poll), html: { class: "row" }, method: :get do |f| %>
      <div class="col-md-6">
        <label for="">Fecha inicial</label>
        <input
          type="text"
          data-provide='datepicker' data-date-language="es"
          data-date-autoclose="true" data-date-format="yyyy-mm-dd"
          class="input-sm form-control" name="poll[initial_date]"

        />
      </div>
      <div class="col-md-6">
        <label for="">Fecha final</label>
        <input
          type="text"
          data-provide='datepicker' data-date-language="es"
          data-date-autoclose="true" data-date-format="yyyy-mm-dd"
          class="input-sm form-control" name="poll[final_date]"

        />
      </div>
      <div class="col-md-12">
        <input type="submit" name="" value="Filtar" class="btn">
      </div>
    <% end %>
  </div>

</div>

<h2>Total: <%= @poll.votes.count %></h2>
<%= column_chart @vote_types%>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
    });
  });
</script>
