<%= form_for [:admin, @tag] do |f| %>
  <%= render 'shared/mensajes_de_error',  object: f.object %>
  <div class="field">
    <%= f.label t(".tag_name") %>
    <%= f.text_field :name, class: 'form-control',  autofocus: true %>
    <div class="field">
      <%= f.label t(".tag_image") %>
      <% if tag.tag_image.file %>
        <p class="has_media">
          <%= t('.has_image', filename: tag.tag_image.file.filename) %>
        </p>
      <% end %>
      <%= f.file_field :tag_image %>
    </div>
    </div>
    <div class="actions">
      <%= f.submit(data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary") %>
    </div>
<% end %>
<br><hr>
