<section id="tags-component">
  <div class="flex-container tags-box">
    <% tags.each do |tag| %>
      <%= link_to  tag_path(tag) do %>
        <div id="<%= tag.id %>" class="tag-component" style="background-image: url('<%= tag.thumbnail.url %>');" user_id="<%= current_user.id if current_user %>">
          <% if params[:controller] == 'users' && params[:action] == 'show' %>
            <div class="tag tag-selected <%= @interests.pluck(:tag_id).include?(tag.id) ? '' : 'hidden'%>">
              <span class="fa fa-check-circle"></span>
            </div>
          <% end %>
          <div class="tag-name"><%= tag.name %> </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>