<div id="polls-component-global-wrapper">
  <section id="polls-component">
    <div class="background-container" style="background-color: <%= @tag.tag_color %>;">
      <%= image_tag @tag.tag_image.url %>
      <div class="icon-name-wrapper">
        <div class="tag-icon-container" style="display: none;"><img class="tag-icon" alt="tag icon" src="https://document-photos-seamos.s3.amazonaws.com/uploads/tag/tag_icon/2/iconos_cultura.png"></div>
        <div class="tag-name">
            <h1>
              <%= @tag.name %>
            </h1>
        </div>
      </div>
    </div>
    <div class="polls-box">
      <div class="polls-wrapper">
        <% @polls.each do |poll| %>
          <%= render partial: 'polls/partials/poll_small_preview', locals: {poll: poll} %>
        <% end %>
      </div>
    </div>

    <!-- forum -->
    <hr class="fading-hr">
    <div class="spacer-mid"></div>
    <% if @discussions.any? %>
      <div class="row forum-row">
        <h3>FORO SEAMOS</h3>
        <div class="spacer-mid"></div>
        <div class="subcontainer">
          <div class="row">
            <%= render partial: "layouts/partials/forum_widget", locals: {discussions: @discussions} %>
          </div>
          <%= render partial: "simple_discussion/forum_threads/forum_thread", locals: {forum_thread: @discussions.first} %>
        </div>
      </div>
    <% end %>
    <hr class="fading-hr">
    <%= render partial: "layouts/partials/newsletter" %>

  </section>
</div>