  <div class="forum-thread">
    <div class="row">
      <span class="votable-container text-center">
        <%= render partial: 'shared/voting', locals: { user: current_user, votable: forum_thread } %>
      </span>

      <div class="col-sm-1 text-center no-padding">
        <%= avatar_tag(forum_thread.user) %>
      </div>

      <div class="col no-padding">
        <h4>
        <% method = if current_user.present? %>
          <% forum_thread.pinned?(current_user) ? 'destroy' : 'create'%>
        <%else%>
          <% nil %>
        <%end%>

          <%= link_to simple_discussion.forum_thread_pins_path(forum_thread),
            method: method,
            'data-toggle': "#{'modal' unless current_user.present?}",
            'data-target': "#{'#sign-in-modal' unless current_user.present?}" do %>
              <%= icon(
                "thumb-tack",
                class: "thumb-tack",
                style: "color: #{forum_thread.forum_category.color + ' !important' if forum_thread.pinned?(current_user)};"
              )%>
          <% end %>

          <% if forum_thread.solved? %>
            <span class="text-success"><%= icon "check-circle" %></span>
          <% end %>

          <%= link_to simple_discussion.forum_thread_path(forum_thread) do %>
             <%= forum_thread.title %>
          <% end %>
        </h4>

        <div class="thread-details">
          <strong><%= category_link(forum_thread.forum_category) %></strong>
          • <%= t('asked_time_ago', time: time_ago_in_words(forum_thread.created_at), author: forum_thread.user.name) %>
        </div>
        <p class="text-muted"><%= sanitize(preview_comments(forum_thread).first, :tags=>[]) %></p>
        <div class="subcomments">
          <p class="text-muted"><%= preview_comments(forum_thread).second&.html_safe %></p>
          <p class="text-muted"><%= preview_comments(forum_thread).third&.html_safe %></p>
        </div>
      </div>

      <div class="col-sm-1 posts-counter">
        <%= link_to simple_discussion.forum_thread_path(forum_thread), class: "thread-posts-count text-muted" do %>
          <span class="count"><%= forum_thread.forum_posts_count %></span>
          <small><%= t("post", count: forum_thread.forum_posts_count) %></small>
        <% end %>
      </div>

    </div>
  </div>
