<%= form_for(usuario) do |f| %>
  <%= render 'shared/mensajes_de_error',  object: f.object %>

  <div class="field">
    <%= f.label :primer_apellido %>
    <%= f.text_field :primer_apellido, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :segundo_apellido %>
    <%= f.text_field :segundo_apellido, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :nombres %>
    <%= f.text_field :nombres, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :tipo_de_documento_id %>
    <%= f.collection_select(:tipo_de_documento_id, TipoDeDocumento.all, :id, :code_view,
                            {}, {:class=>'form-control'}) %>
  </div>

  <div class="field">
    <%= f.label :numero_documento %>
    <%= f.text_field :numero_documento, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :fecha_expedicion %>
    <input type="text" data-provide='datepicker' data-date-language="es"
               data-date-format="yyyy/mm/dd" class="input-sm form-control" name="usuario[fecha_expedicion]" />
  </div>

  <div class="actions">
    <%= f.submit(data: {disable_with: I18n.t(:processing)}, class: "btn btn-primary") %>
  </div>
<% end %>
