<nav class="navbar navbar-default navbar-static-top" id="admin-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, id: 'logo'  do %>
        <%= image_tag "LogoSeamos.png", class: "center-block"  %>
      <% end %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>  <%= link_to 'Propuestas',admin_polls_path %></li>
        <% if current_user.politico? %>
          <li>  <%= link_to 'Modificar información de perfil', edit_admin_user_path(current_user) %> </li>
          <li>  <%= link_to 'Crear Propuesta', new_admin_poll_path %> </li>
        <% end %>
        <% if current_user.administrador? %>
          <li>  <%= link_to 'Lista de usuarios', admin_validate_users_path %> </li>
          <li>  <%= link_to 'Permisos', permits_admin_users_path %> </li>
          <li>  <%= link_to 'Lista de temas', new_admin_tag_path %></li>
          <li>  <%= link_to "Datos", admin_dashboard_stats_path %> </li>
          <li class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mailers
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div> <%= link_to "Listas de Emails", admin_email_lists_path, class: 'dropdown-item'%> </div>
              <div> <%= link_to "Nuevo Email", admin_mail_path, class: 'dropdown-item'%> </div>
            </div>
          </li>
        <% end %>
        <li> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="<%= current_user.resolve_admin_photo %>" class="profile-pic" alt="Cinque Terre">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t('.logout') %>
              <%end%>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>