<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between" id="admin-navbar">
  <%= link_to root_path, id: 'logo', class: 'navbar-brand' do %>
    <%= image_tag "LogoSeamos.png" %>
  <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id='options'>
      <li class="nav-item"><%= link_to 'Propuestas', admin_polls_path, class: 'nav-link' %></li>
      <% if current_user.politico? %>
        <li class='nav-item'><%= link_to 'Crear Propuesta', new_admin_poll_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Modificar información de perfil', edit_admin_user_path(current_user), class: 'nav-link' %></li>
      <% end %>
      <% if current_user.administrador? %>
        <li class="nav-item"><%= link_to 'Lista de usuarios', admin_validate_users_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Lista de temas', new_admin_tag_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Datos", admin_dashboard_stats_path, class: 'nav-link' %> </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Emails
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Listas de Emails", admin_email_lists_path, class: 'dropdown-item'%>
            <%= link_to "Nuevo Email", admin_mail_path, class: 'dropdown-item'%>
          </div>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
          cerrar sessión
        <% end %>
      </li>
    </ul>
  </div>
</nav>
