<nav>
  <li id="this" class="hide-on-mobile">
    <a>QUIENES SOMOS</a>
  </li>
  <li>
    <a href="https://seamosit.github.io" rel="noopener noreferrer"> BLOG</a>
  </li>
  <li>
    <%= link_to  "TEMAS", tags_path %>
  </li>
  <li id="politicians-link">
    <a href="/politicians"> CONCEJALES </a>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        SALIR
      <% end %>
    </li>
  <% else %>
  <li>
    <%= link_to user_facebook_omniauth_authorize_path do %>
      Continuar con facebook
    <% end %>
  </li>
  <li>
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      Continuar con google
    <% end %>
  </li>
  <% end %>
  <div id='sidebar-logos-container' class="hide-on-desktop">
    <li>        
      <a href="http://seamos.co/#/" target="_blank">
        <%= image_tag('LogoSeamos.png', class: "logo") %>
      </a>
    </li>
  </div>
</nav>














