
<span class='<%= align_class %>' >
  <%= form_for(:vote, url: votes_path) do |f|  %>
    <%= f.hidden_field :fb_feed, value: false  %>
    <%= f.hidden_field :vote_type_id, value: vote_type_id %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored button-sender">
      <i class="material-icons"><%= icon %></i>
    </button>
  <%end%>
  <label class="icon-label"><%= label_text %></label>
</span>
