<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seamos</title>
    <%= csrf_meta_tags %>
    <meta property="og:site_name" content="SeamOS Democracia Digital "/>
    <meta property="og:url" content="https://seamosproduction.mybluemix.net/facebookob?id=<%=params[:id]%>"/>
    <meta property="og:type" content="website"/>
  
    <meta property="og:image:width" content="298"/>
    <meta property="og:image:height" content="295"/>
    <meta property="og:site_name" content="seamos.co"/>
    <meta property="fb:app_id" content="1707774202581080"/>
    <meta itemprop="name" content="Nuestro Proyecto"/>
    <meta itemprop="url" content="https://seamos.co/"/>
    <meta itemprop="description" content="SeamOS es una plataforma ciudadana y tecnológica que busca utilizar las
    TICs para actualizar la democracia"/>
    <meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/5914b4b42e69cfcd980116be/t/5914b59c414fb563a633732b/1494529436354/OS-baja.png?format=1000w"/>
    <link rel="image_src" href="http://static1.squarespace.com/static/5914b4b42e69cfcd980116be/t/5914b59c414fb563a633732b/1494529436354/OS-baja.png?format=1000w" />
    <meta itemprop="image" content="http://static1.squarespace.com/static/5914b4b42e69cfcd980116be/t/5914b59c414fb563a633732b/1494529436354/OS-baja.png?format=1000w"/>
    <meta name="twitter:title" content="Nuestro Proyecto"/>
    <meta name="twitter:image" content="http://static1.squarespace.com/static/5914b4b42e69cfcd980116be/t/5914b59c414fb563a633732b/1494529436354/OS-baja.png?format=1000w"/>
    <meta name="twitter:url" content="https://seamos.co/"/>
    <meta name="twitter:site" content="@seamos"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="SeamOS es una plataforma ciudadana y tecnológica que busca utilizar las
    TICs para actualizar la democracia"/>
    <meta name="description" content="SeamOS es una plataforma ciudadana y tecnológica que busca utilizar las
    TICs para actualizar la democracia." />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>

  </head>

  <body>
    <% if session[:session_type] == "web" %>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class:'navbar-brand', id: 'logo'  do %>
              <%= image_tag "LogoSeamos.png", class: "center-block"  %>
            <% end %>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>  <%= link_to t('.polls'),admin_polls_path %></li>
              <% if current_user.politico? %>
                <li>  <%= link_to t('.create_poll'), new_poll_path %> </li>
              <% end %>
              <% if is_admin? %>
                <li>  <%= link_to t('.users'), admin_validate_users_path %> </li>
                <li>  <%= link_to t('.create_admin'), new_admin_path %></li>
                <li>  <%= link_to t(:tags_menu), admin_tags_new_path %></li>
                <li>  <%= link_to "Datos", admin_dashboard_stats_path %> </li>
                <li>  <%= link_to t(:admin), admin_dashboard_index_path %></li>
              <% end %>
              <li> </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                 <img src="<%= fb_image %>" class="profile-pic" alt="Cinque Terre">
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to session_path, method: :delete do %>
                      <%= t('.logout') %>
                    <%end%>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    <% end %>

    <div id='primary-container' class="container">
      <div class="">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= message %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>

    <% unless params[:controller] == 'frontend' %>
      <footer id="footer-seamos" >
        <div class="container">
          <p class="text-muted">POWERED BY SEAMOS – DEMOCRACIA DIGITAL</p>
          <p><%= image_tag("favicon.png") %></p>
        </div>
      </footer>
    <% end %>
  </body>
</html>
