<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags site: 'seamOS'%>
    <%= csrf_meta_tags %>
    <meta property="fb:app_id" content="1707774202581080"/>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>
  <body>
    <% if admin_or_politician?(current_user) %>
      <%= render 'layouts/partials/admin_navbar' %>
    <% else %>
      <%= render 'layouts/partials/client_navbar' %>
    <% end %>

    <div id='primary-container'>
      <div id="flash-messages-container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= message %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <%= render 'layouts/partials/footer' unless current_user && (current_user.administrador? || current_user.politico?) %>
  </body>
</html>
