<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags site: 'seamOS'%>
    <%= csrf_meta_tags %>
    <meta property="fb:app_id" content="1707774202581080"/>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body>
    <%= render 'layouts/partials/navbar' unless current_page?(admin_index_path) %>
    
    <div id='primary-container' class="container">
      <div class="">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= message %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>

    <%= render 'layouts/partials/footer' unless current_page?(admin_index_path) %>
  </body>
</html>
